#dish {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
 }

 #dish div {
  margin-left:60px;
 }

.dish-name {
  -webkit-column-span:all;
  -moz-column-span:all;
  column-span:all;
  

 }

 .dish-name h2 {
  font-weight: bold;
 }

#dish img {
  height: 360px;
  float:right;
  margin-right:70px;
}

.slider {
  width: 640px;
  position: relative;
  overflow: auto;
}

.slider ul {
  margin: 0;
}




